.app-footer{
    position: fixed;
    height: 30px;
     background-color: lightblue;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
  .app-footer-link {
    line-height: 1.5em;
  }
.column {
flex: 25%;
float:left;
font-size:12px;
}
.fullcolumn {
width: 100%;
font-size: 15px;
text-align: center;
vertical-align: middle;
}
  @media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}