<mat-sidenav-container class="sidenav-container" style="background-color: rgb(228, 238, 235);" >
    <mat-sidenav-content>
      <mat-toolbar style="background-color:whitesmoke">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        </button>
        <img style="width:50px;height:50px;" src="../../assets/images/logo.png"/>
        <span  style="justify-content:center; margin-left:10px; font-size: 20px; letter-spacing: .2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:orangered ;">TODO-LIST</span>
         
         <button mat-raised-button color="accent" routerLink="/home" style="margin: .5rem; margin-left: 45rem; background-color: rgb(19, 21, 21);">Home</button>
        <button mat-raised-button color="accent" routerLink="/login" style="margin: .5rem;  background-color: rgb(19, 21, 21);">Login</button>
        
        <!--<button mat-raised-button color="accent"routerLink="/login" style="margin: 2rem; background-color: rgb(19, 21, 21);">Logout</button>-->
      </mat-toolbar>
      <!-- Add Content Here -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  <div class="container" >
    <h1 style="text-align: center;">Registration Form</h1>
  
    <mat-card>
        <div class="registerForm" mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <!-- <mat-form-feild apperance="standard">
                    <mat-label for="emailId">Email</mat-label> 
                    <input matInput type="text" formControlName="emailId">
                </mat-form-feild>
                <div *ngIf="emailId.invalid && emailId.touched" class="alert alert-danger">
                    <div *ngIf="emailId.errors?.['required']">
                        Email is must
                    </div>
                    <div *ngIf="emailId.errors?.['pattern']">
                        Email is not valid
                    </div>
                </div> -->
                <mat-form-field appearance="standard">
                    <mat-label for ="emailId">Email</mat-label>
                    <input matInput type="text" formControlName="emailId">
                    
                </mat-form-field>
                <div *ngIf="emailId.invalid && emailId.touched" class="alert alert-danger">
                  <div *ngIf="emailId.errors?.['required']" >
                      Email is must
                  </div>
                  <div *ngIf="emailId.errors?.['pattern']" >
                   Email is not valid
                  </div>
                     
                       
              </div>
                
                <mat-form-field appearance="standard">
                    <mat-label for ="username">User Name</mat-label>
                    <input matInput type="text" formControlName="username">
                    
                </mat-form-field>
                <div *ngIf="username.invalid && username.touched" class="alert aler-danger">
                  <div *ngIf="username.errors?.['required']" >
                      User Name is must
                  </div>
                  <div *ngIf="username.errors?.['minlength']" >
                  User Name is not valid
                  </div>
              </div>
                
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password"[type]="hide ? 'password' : 'text'">
                    
                </mat-form-field>
                <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                  <div *ngIf="password.errors?.['required']" >
                    password is must
                  </div>
                  <div *ngIf="password.errors?.['minlength']" >
                  password is not valid
                  </div>
                </div>
                
                <mat-form-field appearance="standard">
                    <mat-label>address</mat-label>
                    <input matInput type="text" formControlName="address">
                    
                </mat-form-field>
                <div *ngIf="address.invalid && address.touched" class="alert alert-danger">
                  <div *ngIf="address.errors?.['required']" >
                    Address is must
                  </div>
                  <div *ngIf="address.errors?.['minlength']" >
                    Address is not valid
                  </div>
              </div>
                
                <mat-form-field appearance="standard">
                    <mat-label>mobileNo</mat-label>
                    <input matInput type="text" formControlName="mobileNo">
                    
                </mat-form-field>
                <div *ngIf="mobileNo.invalid && mobileNo.touched" class="alert alert-danger">
                  <div *ngIf="mobileNo.errors?.['required']" >
                    MobileNo is must
                  </div>
                  <div *ngIf="mobileNo.errors?.['minlength']" >
                    MobileNo is not valid
                  </div>
              </div>
              <br>
                <button mat-raised-button [disabled]="registerForm.invalid" class="button alt-gradient-button" type="submit">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <br><br>
              Already existing user click <a routerLink="/login">here</a> for login!
            </form>
            
        
        </div>
    </mat-card>
  </div>
   <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
   