
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav style="background-color:rgb(188, 243, 229)"  #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list >
        <a style="color:black;font-weight:500;" mat-list-item routerLink="/addtaskstudio">Add  Task</a>
        <a style="color:black;font-weight: 500;" mat-list-item routerLink="/gettaskstudio">Your tasks</a>
        <!-- <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="whitesmoke">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img style="width:50px;height:50px;" src="../../assets/images/logo.png"/>
        <span style="font-size: 20px; letter-spacing: .2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:orangered">TODO-LIST</span>
      <button mat-raised-button color="accent"routerLink="/login" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">Logout</button>
      <button mat-raised-button color="accent"routerLink="/studio" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">Back</button>


      </mat-toolbar>
      <section class="section">
        <div class="container">
          <app-todo-list *ngFor="let u of userlist">
            <div class="task-list col-8">
              <div class="todo-item" >
                  <div class="col-0">
                  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd" style="margin-left: 25px;">
                    <div  *ngIf="u.image?.length>0" class="column is ">
                      <img [src]="u.image" height="150px" width="150px" routerLink="/uploaduser" alt=" click here Upload you profile picture">
                    </div> 
                    <div class="column ">
                     User Name: {{u.username}}
                    </div>
                    <div class="column">
                      EmailId:{{u.emailId}}
                    </div>
                    <div class="column">
                        Password:{{u.password}}
                    </div>
                    <div class="column">
                        Address:{{u.address}}
                    </div>
                    <div class="column">
                        Mobile No:{{u.mobileNo}}
                    </div>
                    <div class="column">
                      <button mat-raised-button color="accent" (click)="toedit1(u)" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">Upload/Update Profile Picture</button>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-0">
                <!-- <div class="todo-controls-box">
                  <div class="todo-control-button" appToolTip="Edit TodoList">
                    <i style="float:left;margin-left:650px;" class="material-icons" (click)="toedit(u)">edit</i>
                  </div>
  
                </div> -->
                </div>
  
              
  
            </div>
  
          </app-todo-list>
  
        </div>
  
      </section>

  
  
      
      <router-outlet></router-outlet>
      
     
     
      
            
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
