
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav style="background-color:rgb(188, 243, 229)"  #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list >
        <a style="color:black;font-weight:500;" mat-list-item routerLink="/addtaskstudio">Add  Task</a>
        <a style="color:black;font-weight: 500;" mat-list-item routerLink="/gettaskstudio">Your tasks</a>
        <a style="color:black;font-weight: 500;" mat-list-item routerLink="/studio">Task Home</a>
        <!-- <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="whitesmoke">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon" >menu</mat-icon>
        </button>
        <img style="width:50px;height:50px;" src="../../assets/images/logo.png"/>
        <span style="font-size: 20px; letter-spacing: .2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:orangered">TODO-LIST</span>
       
       <button mat-raised-button color="accent"routerLink="/login" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">Logout</button>

      </mat-toolbar>
      <router-outlet></router-outlet>
     <div class="whole">
        <h1 class="title">Edit User</h1>
        <div mat-dialog-content >
            <div class="container">
                <!-- <h1 class="title">Edit Todo</h1> -->
            <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                <div class="field" >
                    <div class="control ">
                        <input  name="text" class="input" type="hidden" placeholder="Type username" formControlName="username" >
                        
                    </div>
                    <br>
                    <div class="control ">
                        <input  name="text" class="input" type="hidden" placeholder="Type password" formControlName="password" >
                        
                    </div>
                    <br>
                    <div class="control ">
                        <input  name="text" class="input" type="hidden" placeholder="Type address" formControlName="address">
                    </div>
                    <br>
                    <div class="control ">
                        <input  name="text" class="input" type="hidden" placeholder="Type mobileno" formControlName="mobileNo">
                    </div>
                    
                    <br>
                    <br>
                    <div class="control">
                        <i class="material-icons">image <input  name="text" class="input" type="file" (change)="onuploadimage($event)">
                        </i>
                    </div >
                </div>
                <br>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button type="button" class="button is-light" type="button" routerLink="/userdetails">Cancel</button>
                    </div>
                    <br>
                    <div class="control">
                        <button type="submit" class="btn btn-primary" type="submit">
                            <i class="material-icons">save</i>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
     </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
