<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
     
      <a href="#" class="w3-bar-item w3-button w3-padding-large"><img src="../../assets/images/logo.png" alt="" style="width:30px">    To-Do List</a>
      <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large">To-Do List</a> -->
      <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOME</a>
      <!-- <a href="#aboutus" class="w3-bar-item w3-button w3-padding-large w3-hide-small" routerLink="/viewtask">About Us</a> -->

      
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/home" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
    <!-- <a href="#aboutus" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About Us</a> -->
    <!-- <a href="/studio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Task</a> -->

  </div>


  <!-- <div class="container">
    <h1>LOGIN FORM</h1>
    <div>
      <form [formGroup]="passwordForm" (ngSubmit)="getPassword()">
        <label for="emailId">Email ID</label>
        <input type="text" formControlName="emailId">
        <div *ngIf="emailId.invalid && emailId.touched" class="alert alert-danger">
          <div *ngIf="emailId.errors?.['required']" >
            Email is must
          </div>
          <div *ngIf="emailId.errors?.['pattern']" >
            Email is not valid
          </div>
      </div>

     <button [disabled]="passwordForm.invalid" type="submit" class="btn btn-danger">Login</button> -->
     <div class="container">
        <form [formGroup]="passwordForm">
            <h3>
                Enter Your Email Id to get Password.
            </h3>
            <input type="text" id="emailId" name="emailId" formControlName="emailId">
            <button type="button" (click)="setValue()" class="btn btn-danger">Get</button>

        </form>
       
     </div>

     <app-footer></app-footer>
