<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color:rgb(188, 243, 229)"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
      <a style="color:black;font-weight:500;" mat-list-item routerLink="/addtaskstudio">Add  Task</a>
      <a style="color:black;font-weight: 500;" mat-list-item routerLink="/gettaskstudio">Your tasks</a>
      <!-- <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="whitesmoke">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img style="width:50px;height:50px;" src="../../assets/images/logo.png"/>
      <span style="font-size: 20px; letter-spacing: .2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:orangered">TODO-LIST</span>
     
     <button mat-raised-button color="accent"routerLink="/userdetails" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">My Profile</button>

      <button  mat-icon-button type="button" style="margin-left:700px;" class="box" matBadge='{{noOfIncomplete}}'  (click)="isBadgeHidden " (click)="openModal()"  >
        <mat-icon>notifications</mat-icon>
        <button mat-raised-button color="accent"routerLink="/login" style="margin: 2rem; margin-left:20px; background-color: rgb(19, 21, 21);">Logout</button>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="container">
      <div class="row">
      <h1 style="font-size:50px;">Eliminate manual tasks </h1>
      <h3 style="margin-top:15px;">Automate routine tasks so you can focus on the work that matters. Prioritize tasks, set due dates and check statuses with a glance.</h3>
      
       </div> 
    </div>
    <div class="pic">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/5.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/2.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      </div>
          
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
