<mat-sidenav-container class="sidenav-container" style="background-color: rgb(228, 238, 235);" >
    <mat-sidenav-content>
      <mat-toolbar style="background-color:whitesmoke">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        </button>
        <img style="width:50px;height:50px;" src="../../assets/images/logo.png"/>
        <span  style="justify-content:center; margin-left:10px; font-size: 20px; letter-spacing: .2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:orangered ;">TODO-LIST</span>
         
         <button mat-raised-button color="accent" routerLink="/home" style="margin: .5rem; margin-left: 80rem; background-color: rgb(19, 21, 21);">Home</button>
         <!-- <button mat-raised-button color="accent" routerLink="/studio" style="margin: .5rem;  background-color: rgb(19, 21, 21);">task</button>  -->
        
        <!--<button mat-raised-button color="accent"routerLink="/login" style="margin: 2rem; background-color: rgb(19, 21, 21);">Logout</button>-->
      </mat-toolbar>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  <div class="container" >
    <h1 style="text-align: center;">Login Form</h1>
  
    <mat-card>
        <div class="registerForm" mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
               
                <mat-form-field appearance="standard">
                    <mat-label for ="emailId">Email</mat-label>
                    <input matInput type="text" formControlName="emailId">
                    
                </mat-form-field>
                <div *ngIf="emailId.invalid && emailId.touched" class="alert alert-danger">
                  <div *ngIf="emailId.errors?.['required']" >
                      Email is must
                  </div>
                  <div *ngIf="emailId.errors?.['pattern']" >
                   Email is not valid
                  </div>
              </div>
                             
                <br>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password"[type]="hide ? 'password' : 'text'">
                    
                </mat-form-field>
                <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                  <div *ngIf="password.errors?.['required']" >
                    password is must
                  </div>
                  <div *ngIf="password.errors?.['minlength']" >
                  password is not valid
                  </div>
                </div>
                
                       
               
              
             
            
              <br>
                <button mat-raised-button [disabled]="loginForm.invalid" class="button alt-gradient-button" type="submit">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <br><br>
             
            </form>
            
        
        </div>
    </mat-card>
  </div>
   <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
   